<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Mahima Arya">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>YouTube Comment Reviewer</title>
    </head>
    <body>
        <!-- Title -->
        <div class="page-header" style="margin-top:3%; text-align: center;">
            <h1> Review Comments </h1>
        </div>
        <!-- Video Information -->
        <p style="padding-left: 20%; padding-right: 20%; margin-top:1%">
            You are reviewing comments for <b>"{{ vidTitle }}"</b> from the channel <b>"{{ channelName }}</b>."
        </p>
        <!-- Page Description -->
        <p style="padding-left: 20%; padding-right: 20%;">
            Thank you for joining our crowdsourced effort! You'll have the option to mark a comment as good or submit it to <a href="https://www.trustlab.com/" target="_blank">trustlab</a> for further review. Know that your contributions will help mitigate content safety risks.
        </p>

        <!-- Display Rows of Comments -->
        <div class="container">
            <!-- use jinja's batch to format rows -->
            {% for comments_batched in comments|batch(3) %}
                <div class="row" style="margin:3%;">
                {% for comment in comments_batched %}
                <div class="card" class="col-sm" style="width:30%;">
                    <div class="card-body">
                        <!-- data format: id, comment, likes, replies -->
                        <p class="card-text"> {{comment[1]}} </p>
                        <p class="card-text"> Number of likes: {{comment[2]}} </p>
                        <p class="card-text"> Number of replies: {{comment[3]}} </p>
                        <!-- would need to pass a commentID for the db -->
                        <button type="button" class="btn btn-success">Mark as Good</button>
                        <!-- would need to pass a commentID for the db -->
                        <button type="button" class="btn btn-warning" style="margin-top:1%">Submit for Review</button>
                        <a href="#" class="card-link"></a>
                    </div>
                </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </body>
</html>